/* @import "//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css"; */
@import url(/src/assets/fonts/style.css);

.container {
  width: 1296px;
  /* height: 1092px; */
  left: 312px;
  top: 150px;

  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 50px;
}

.uperside{
  display: table;
}

.picture {
  width: 596px;
  height: 596px;
  left: 352px;
  top: 190px;
  background-color: transparent;
  float: left;
}

.header {
  float: right;
  padding-top: 10%;
}

.head-text {
  width: 255px;
  height: 61px;
  left: 972px;
  top: 190px;
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 61px;
  color: #000000;
}

.info-text {
  font-family: 'Mont';
  width: 596px;
  height: 288px;
  left: 972px;
  top: 275px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #7E7E7E;
}

.downside-text {
  
  color: #7E7E7E;
  font-size: 16px;
  font-family: 'Mont';
  padding-bottom: 2%;
  padding-left: 2%;
}
.downside-text-bolder {
  margin: 0 auto;
  font-family: 'Mont';
  color: #424242;
  font-size: 16px;
}




.tab:not(:target) {
  display: none;
}

.tab:last-child {
  display: block;
}

.tab:target ~ .tab:last-child {
  display: none;
}

.tabs {
  width: 30em;
  margin: 6.5em auto;
}
