@import url(/src/assets/fonts/style.css);

*{
    margin: 0;
    padding: 0;
}



body{
    width: 1920px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    display: contents;
}

a {
  text-decoration: none;
}

.nav-body {
    max-width: 1920px;
    display: flex;
    justify-content: center;
}

.navlink{
  color: black;
  font-family: 'Mont';
}

.logo{
    max-width: 197px;
    max-height: 75px;
}


.conteiner{
    max-width: 1296px;
    margin: 0 auto;
}

.conteiner-intro{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


/* Sertificate */

.ser-link{
    text-decoration: none;
    color:#737373;
    padding-top: 2.3%;
}

.ser-link:hover{
    color: #4C4C4C;
}

.sertificate-window{
    max-width: 1200px;
    margin: 0 auto;
}

.sertificate-window-op{
    padding-bottom: 5%;
}

.sertificate-text{
    color: #3E3C6E;
    font-family: 'Mont';
    text-align: center;
}

.sertificate-link{
    font-size: 20px;
    text-decoration: none;
    color: #3E3C6E;
    font-family: 'Mont';
}

.sertificate-text-mobile{
    display: none;
}

.sertificate-link-mobile{
    display: none;
}

/* Body */

.info {
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    display: inline-flex;

}

.info--mobile{display: none;}

.info-text {
    max-width: 596px;
    margin-left: 3%;
    margin-top: 8%;
}



.text__row{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}


.info-logo {
    height: auto;
    width: 100%;
    min-width: 300px;
    background: #D9D9D9;
    border-radius: 50px;
}


.about-logo{
    height: auto;
    width: 100%;
    min-width: 300px;
    background: #D9D9D9;
    border-radius: 50px;
}

/* Products */
.products__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    max-width: 360;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-image{
    max-width: 360px;
    max-height: 350px;
}


.nav-links{
    text-decoration: none;
}

/* End products */

/* About Us */

.about__inner{
    margin: 10px;
}

.about__items{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.beetwen--mobile{
    display: none;
}

.picture{
    display: block;
    width: auto;
    height: 400px;
    background-color: #6e6e6e;
    border-radius: 50px 50px 50px 50px;
}
.about__text{
    display: block;
    margin: 0 10px;
    padding: 10px;
    width: 50%;
}
.about__text > p{
    color: #000000;
    max-width: 636px;
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
}

/* footer__css */

.footer{
    background: #3E3C6E;
}

.footer__row{
    max-width: 1140px;
    padding: 20px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__left{
    max-width: 400px;
}

.footer__right{
    max-width: 500px;
}

.tel > a, .tel > a:hover, .mail, .mail:hover{
    color: #fff;
    text-decoration: none;
}

.company__name{
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 64px;
    color: #fff;
    font-family: 'Mont';
}

.aboutUs{
    margin-top: 20px; 
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.15px;
    color: #fff;
}

.weOn{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.weOn--mobile{
    display: none;
}

.weOn__items{
    list-style-type: none;
    margin: 10px;
}

.weOn__item{
    color: #fff;
    text-decoration: none;
}





.right__items > h3{
    color: #fff;
    font-size: 30px;
    font-family: 'Mont';
    
}

.right__items > a, p{
    color: #fff;
    font-size: 24px;
    font-family: 'Mont';
    margin-top: 10px;
}

.right__items{
    margin-bottom: 20px;
}

.authority{
    font-family: "Mont";
    text-align: center;
    color: #fff;
    background-color: #000000;
}

.tel > a{
    color: #fff;
    font-size: 24px;
    font-family: 'Mont';
    margin-right: 60px;
}

@media screen and (max-width: 900px){
    .card-title{
        font-size: 20px;
    }
    .conteiner{
        margin: 0 auto;
    }
    .info{
        display: none;
    }

    .info--mobile{
        display: block;
        margin-bottom: 20px;
    }
    .info--mobile> .info-text{
        margin: 0 auto;
        padding: 10px;
    }
    .info-text> p{
        color: #000000;
    }

    .footer__inner{
        display: inline;
        margin: 0 auto;
    }

    .footer__row{
        width: none;
    }

    .footer__left{
        width: none;
    }
    .about__items{
        display: block;
    }
}
@media screen and (max-width: 786px) {
    .card-title{
        font-size: 18px;
    }
    .about__items{
      flex-direction: row;
    }
    .beetwen{
        display: none;
    }
    .beetwen--mobile{
        display: block;
    }
    .picture{
        width: auto;
    }
    .about__text{
        width: 100%;
    }
    .card{
        width: 194px;
    }
}
@media screen and (max-width: 428px){
    .card-title{
        font-size: 18px;
    }
    .logo{
        position: center;
    }
    .card{
        max-width: 196px;
    }
    .info--mobile > .info-logo{
        max-width: 404px;
    }
    .info-text{
        max-width: 356px;
    }
    .info-text > p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    .footer__left> .aboutUs{
        display: none;
    }
    .about__text{
        margin: 0 auto;
        max-width: 404px;
    }
    .about__text>p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
    }
    .right__items > p, .tel > a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
    .mail{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
    }

    .weOn{
        display: none;
    }
    .weOn--mobile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 385px) {
    .sertificate-window{
        display: none;
    }
    .sertificate-text-mobile{
        padding-top: 10%;
        color: #000000;
        font-family: 'Mont';
        display: block;
        font-size: 15px;
        text-align: center;
    }
    
    .sertificate-link-mobile{
        text-decoration: none;
        color: #000000;
        font-family: 'Mont';
        display: block;
        font-size: 15px;
        padding: 5% 10% 5% 5%;
    
    }
    .card-title{
        font-size: 16px;
    }
    .card{
        max-width: 150px;
    }
    #mail{
        font-size: 16px;
    }
    body{
        width: none;
    }
    .footer{
        width: none;
    }
    .conteiner{
        width: none;
    }

}