@import url(/src/assets/fonts/style.css);

*{
    margin: 0;
    padding: 0;
}


body{
    max-width: 1920px;
    background: #fff;
    overflow-x: hidden;
}

a {
  text-decoration: none;
}

.navlink{
  color: black;
  font-family: 'Mont';
}



.html{
    
}

.conteiner{
    max-width: 1296px;
    margin: 0 auto;
}

/* Body */

.info {
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    display: inline-flex;

}

.info-text {
    max-width: 596px;
    margin-left: 3%;
    margin-top: 8%;

}

.text__row{
    font-family: 'Mont';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}


.info-picture {
    height: auto;
    width: 100%;
    background: #D9D9D9;
    border-radius: 0px 50px 50px 0px;
}

/* About Us */

.about__inner{
    margin: 10px;
}

.about__items{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.picture{
    display: block;
    min-width: 300px;
    background-color: #6e6e6e;
    border-radius: 50px;
}
.about__text{
    display: block;
    margin: 0 10px;
    padding: 10px;
}
.about__text > p{
    color: #000000;
    max-width: 636px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
}

/* footer__css */

.footer{
    background: #3E3C6E;
}

.footer__row{
    max-width: 1140px;
    padding: 20px;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.footer__left{
    max-width: 400px;
}

.footer__right{
    /* margin-left: 40px; */
    max-width: 500px;
}

.tel > a, .tel > a:hover, .mail, .mail:hover{
    color: #fff;
    text-decoration: none;
}

.company__name{
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 64px;
    color: #fff;
    font-family: 'Mont';
}

.aboutUs{
    margin-top: 20px; 
    font-family: 'Mont';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.15px;
    color: #fff;
}

.weOn{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.weOn__items{
    list-style-type: none;
    margin: 10px;
}

.weOn__item{
    color: #fff;
    text-decoration: none;
}



.right__items > h3{
    color: #fff;
    font-size: 30px;
    font-family: 'Mont';
    
}

.right__items > a, p{
    color: #fff;
    font-size: 24px;
    font-family: 'Mont';
    margin-top: 10px;
}

.right__items{
    margin-bottom: 20px;
}

.tel > a{
    color: #fff;
    font-size: 24px;
    font-family: 'Mont';
    margin-right: 60px;
}

@media screen and (max-width: 786px) {
    .about__items{
      flex-direction: row;
    }
    /* .info-picture > img{
        position: cover;
    } */
}

@media screen and (max-width: 900px){
    .info{
        display: block;
    }
    .footer__inner{
        display: inline;
        margin: 0 auto;
    }

    .footer__row{
        width: none;
    }

    .footer__left{
        width: none;
    }
    .about__items{
        display: block;
    }
}